* {
    box-sizing: border-box;
 }
 
 :root {
    --background: white;
    --primary: #ffffff;
    --secondary: #1effc3;
    --card-size: 600px;
 }
 
 body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    padding: 20px;
    background: var(--background);
    font-family: 'Source Code Pro', monospace;
 }
 
 .card { 
    width: 950px;
    height: var(--card-size);
    border-radius: 15px;
    box-shadow:  0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    background: rgb(12, 171, 115);
    display: grid;
    grid-template-columns: 40% auto;
    color: white;
    align-items: center;
    
 }
 
 .card-details {
    position: relative;
    float: right;
    padding: 80px;
    width: 650px;
    height: auto;
 }
 
 .name {
    font-size: 33px;
    font-style: oblique;
 }
 
 .occupation {
    font-weight: 600;
    color: var(--primary);
 }
 
 .card-avatar {
    display: inline-flexbox;
    place-items: center;
    max-width: 450px;
    height: auto;
 }
 
 .card-about {
    margin-top: 0px;
    display: grid;
    grid-auto-flow: column;
 }
 
 .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

 }
 
 .skills {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
 }