  body {
    background-color:rgb(100, 100, 100);
    background-image: url("imgs/backimg.jpeg");
    background-attachment: fixed;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }
  .center{
    text-align: center;
  }
  img {
    height: 10cm; width: 15cm;
  }
  .italic-text{
    font-style: italic;
    color:brown;
  }
  a:link{
    color:deepskyblue;
  }
  a:visited{
    color: chartreuse;
  }
  a:hover{
    display: inline-block;
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    color: chocolate;
  }
  p{
    word-wrap: normal;
  }
  table{
    position: sticky;
  }
  #clock{
    height: 70px;
    width: 200px;
    background-color:rgba(4, 132, 142, 1);
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    padding-top:.5rem;
    box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.4);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    color:#e7e7de;
  }