  body {
    background-color:rgb(0, 53, 100);
    background-image: url("backimg.jpeg");
    background-attachment: fixed;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }
  .center{
    text-align: center;
  }
  img {
    height: 10cm; width: 15cm;
  }
  .italic-text{
    font-style: italic;
    color:brown;
  }
  a:link{
    color:deepskyblue;
  }
  a:visited{
    color: chartreuse;
  }
  a:hover{
    display: block;
    transform: scale(1.5);
    background-color: rgb(255, 255, 255);
    color:chocolate;
  }